{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Hello Devs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores error libero, quis sequi unde voluptate?
            Beatae
            deleniti eaque eligendi in itaque nemo optio quam unde voluptas voluptate? Commodi, magni, mollitia?</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ path('property.show',{id: property.id, slug: property.slug}) }}">
                                <h5 class="card-title">{{ property.title }}</h5>
                            </a>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold">{{ property.formatedPrice}} TND</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
