{% extends 'base.html.twig' %}

{% block title %}Tous nos bien{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Voir tous nos bien</h1>
        </div>
    </div>
{% endblock %}
